@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.207/distr/fira_code.css)
    
body
    background-color: rgb(17,17,17)
    color: #ffffff
    font-family: "Fira Code", monospace
    font-size: 16px


.header
    text-align: center
    color: #ffffff
    font-size: 24px
    font-weight: normal
    margin: 0 auto
    letter-spacing: .15em 


.nav
    list-style: none
    color: #ffffff
    cursor: pointer
    &__item
        padding: 5px
        font-weight: 400 
        letter-spacing: .15em 
        &:hover
            color: #FFFF66

.link
    color: #ffffff
    letter-spacing: 0.1em
    font-weight: 200
    font-size: 16px
    text-decoration: none
    cursor: pointer
    &:hover
        color: #0088f2

.container
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

#text
    max-width: 400px